gradlew
gradlew.bat
local.properties
.gradle/file-system.probe
.gradle/7.4/gc.properties
.gradle/7.4/checksums/checksums.lock
.gradle/7.4/checksums/md5-checksums.bin
.gradle/7.4/checksums/sha1-checksums.bin
.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
.gradle/7.4/dependencies-accessors/gc.properties
.gradle/7.4/executionHistory/executionHistory.bin
.gradle/7.4/executionHistory/executionHistory.lock
.gradle/7.4/fileChanges/last-build.bin
.gradle/7.4/fileHashes/fileHashes.bin
.gradle/7.4/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.idea/.gitignore
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
app/.DS_Store
app/src/.DS_Store
app/src/main/.DS_Store
app/src/main/java/.DS_Store
app/src/main/java/com/.DS_Store
app/src/main/java/com/mondaro/.DS_Store
app/src/main/java/com/mondaro/easytopup/.DS_Store
gradle/.DS_Store
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
.DS_Store
