gradlew
gradlew.bat
local.properties
.gradle/file-system.probe
.gradle/7.4/gc.properties
.gradle/7.4/checksums/checksums.lock
.gradle/7.4/checksums/md5-checksums.bin
.gradle/7.4/checksums/sha1-checksums.bin
.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
.gradle/7.4/dependencies-accessors/gc.properties
.gradle/7.4/executionHistory/executionHistory.bin
.gradle/7.4/executionHistory/executionHistory.lock
.gradle/7.4/fileChanges/last-build.bin
.gradle/7.4/fileHashes/fileHashes.bin
.gradle/7.4/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.idea/.gitignore
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
app/.DS_Store
app/src/.DS_Store
app/src/main/.DS_Store
app/src/main/java/.DS_Store
app/src/main/java/com/.DS_Store
app/src/main/java/com/mondaro/.DS_Store
app/src/main/java/com/mondaro/easytopup/.DS_Store
gradle/.DS_Store
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
.DS_Store
app/build/outputs/logs/manifest-merger-debug-report.txt
app/build/intermediates/variant_model/debug/variant_model.json
app/build/intermediates/source_set_path_map/debug/file-map.txt
app/build/intermediates/signing_config_versions/debug/signing-config-versions.json
app/build/intermediates/packaged_manifests/debug/output-metadata.json
app/build/intermediates/packaged_manifests/debug/AndroidManifest.xml
app/build/intermediates/navigation_json/debug/navigation.json
app/build/intermediates/merged_manifests/debug/output-metadata.json
app/build/intermediates/merged_manifests/debug/output-metadata 2.json
app/build/intermediates/merged_manifests/debug/AndroidManifest.xml
app/build/intermediates/merged_manifest/debug/AndroidManifest.xml
app/build/intermediates/merged_java_res/debug/base.jar
app/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
app/build/intermediates/incremental/mergeDebugShaders/merger.xml
app/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
app/build/intermediates/incremental/mergeDebugAssets/merger.xml
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ZzjB6T05EOwT6K11QFu6VJBPuF0=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/yCzv6hRV1WoG0_oNosz4CKZK7Ts=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/SB76kbzbHoIgCM0uf4MXcmYofbk=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/qMMGpTtr1kgtcvjpoEeGSbroxY0=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/qhPNYVy2+BMND+XnrRd7c7KgOpc=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/n9mIYPHcQw1wuvbS2V1yRXeLWiM=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/LoPt0R2XoI_g4EbXM4Tni5wU+C4=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/B6A6JMyUL9YyihoLt_VbsV9xVZY=
app/build/intermediates/incremental/debug-mergeJavaRes/merge-state 2
app/build/intermediates/incremental/debug-mergeJavaRes/merge-state
app/build/intermediates/external_libs_dex/debug/mergeExtDexDebug/classes.dex
app/build/intermediates/compatible_screen_manifest/debug/output-metadata.json
app/build/intermediates/app_metadata/debug/app-metadata.properties
app/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
app/build/generated/source/buildConfig/debug/com/mondaro/easytopup/BuildConfig.java
app/build.gradle
.gradle/8.0/gc.properties
.gradle/8.0/fileHashes/resourceHashesCache.bin
.gradle/8.0/fileHashes/fileHashes.lock
.gradle/8.0/fileHashes/fileHashes.bin
.gradle/8.0/fileChanges/last-build.bin
.gradle/8.0/executionHistory/executionHistory.lock
.gradle/8.0/executionHistory/executionHistory.bin
.gradle/8.0/dependencies-accessors/gc.properties
.gradle/8.0/dependencies-accessors/dependencies-accessors.lock
.gradle/8.0/checksums/sha1-checksums.bin
.gradle/8.0/checksums/md5-checksums.bin
.gradle/8.0/checksums/checksums.lock
gradle.properties
gradle.properties
gradle.properties
